body{
    font-size: 30px;
}
h1{
    font-size: 40px;
}
.Container-1{
    background-color:grey;
    border: 1px  solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 430px;
}
.Container-2{
    border: 2px solid blue;
    background-color: skyblue;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.Container-3{
    border: 2px solid green;
    background-color:lightgreen;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.Container-4{
    border: 2px solid green;
    background-color: lightgreen;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 80%;
}
.Container{
    display: flex;
}
.Container-5{
    border: 2px solid blueviolet;
    color: ;
    background-color:lavender;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.Container-6{
    border: 2px solid red;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: pink;
    color: ;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.Container-7{
    border: 2px solid red;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: pink;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.Container-8{
    border: 2px solid gold;
    height: 30px;
    background-color: yellow;
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}
.Container-9{
    border: 2px solid blue;
    background-color: skyblue;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;

}
.About-me{
    color: white;
}